h1{
    font-family: 'Spicy Rice', cursive;
    font-size:150px;
}
h2{
    top:100px;
    font-family: 'Spicy Rice', cursive;
}
@media (max-width: 700px ){
    #slogan-left{
        text-align:left;
    }
    #slogan-right{
        text-align:right;
    }
h1{
    font-size:100px;
}
}

