h1{
    font-family: 'Spicy Rice', cursive;
    font-size:150px;
}
h2{
    top:100px;
    font-family: 'Spicy Rice', cursive;
}
@media (max-width: 700px ){
    #slogan-left{
        text-align:right;
    }
    #slogan-right{
        text-align:left;
    }
h1{
    font-size:100px;
}
}
      .picture1{
        width:100%;
        text-align:center;
        display:block;
      height:250px;
      z-index: 1;
        
      }
      .picture2{
        width:100%;
        text-align:center;
        display:block;
        height:250px;
      z-index: 1;
        
      }
      .picture3{
          width:100%;
        text-align:center;
        display:block;
        height:250px;
      z-index: 1;
        
      }
      h5{
        color:black;
      }
      p{
        color:black;
      }
      .carousel-control-prev-icon{
        background-color:black;
      }
      .carousel-control-next-icon{
        background-color:black;
      }
h3{
    font-family: 'Spicy Rice', cursive;
    font-size:30px;
}
text2{
  position:absolute;
  top:600px;
}
text1{
  position:absolute;
  left:200px;
}
p{
  text-align:left;
}